/* Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name> */

.hljs {
	display: block;
	overflow-x: auto;
	padding: 10px;
	background: white;
	border: 1px solid #efefef;
}

.hljs * {
	font-family: "Consolas", monospace !important;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
	color: #008000 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
	color: #00f !important;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
	color: #a31515 !important;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
	color: #2b91af !important;
}

.hljs-doctag {
	color: #808080 !important;
}

.hljs-attr {
	color: #f00 !important;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
	color: #00b0e8 !important;
}


.hljs-emphasis {
	font-style: italic !important;
}

.hljs-strong {
	font-weight: bold !important;
}
