$color_turquoise: #1ABC9C;
$color_green_sea: #16A085;
$color_emerald: #2ECC71;
$color_nephritis: #27AE60;

$color_peter_river: #3498DB;
$color_belize_hole: #2980B9;
$color_wet_asphalt: #34495E;
$color_midnight_blue: #2C3E50;

$color_amethyst: #9B59B6;
$color_wisteria: #8E44AD;

$color_sunflower: #F1C40F;

$color_orange: #F39C12;
$color_carrot: #E67E22;
$color_pumpkin: #D35400;

$color_alizarin: #E74C3C;
$color_pomegranate: #C0392B;

$color_clouds: #ECF0F1;
$color_silver: #BDC3C7;
$color_concrete: #95A5A6;
$color_asbestos: #7F8C8D;